@use "../abstracts" as *;

@mixin ActiveClient {
  .ActiveClient {
    padding-left: 4px;
    .app-id {
      font-size: to-rem(13px);
      color: $overlay2;
    }
    .window-title {
      font-size: to-rem(15px);
      font-weight: 600;
    }
  }
}
